<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Gether User Informations</title>
  </head>
  <body>



    <div class="container">
      <h3 class="text-center">{{device}}</h3>
      <div class="row">
        <div class="col-3">
          <h4 class="bg-info p-3">Browser:</h4>
        </div>
        <div class="col-8">
          <h5> {{browser}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <h4 class="bg-warning p-3">Browser Family</h4>
        </div>
        <div class="col-8">
          <h5>{{browser_Family}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <h4 class="bg-success text-warning p-3">Browser Version</h4>
        </div>
        <div class="col-8">
          <h5> {{browser_version}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <h4 class="bg-success text-warning p-3">OS:</h4>
        </div>
        <div class="col-8">
          <h5>{{os}}</h5>
        </div>
      </div>
      {% if request.user_agent.is_mobile %}
      <div class="row">
        <div class="col-3">
          <h4 class="bg-success text-warning p-3">Device Name:</h4>
        </div>
        <div class="col-8">
          <h5>{{user_device}}</h5>
        </div>
      </div>
      {% endif %}

    </div>

    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>